{% extends 'accounter/base.html' %}

{% block content %}
    <form action="{% url 'customers' %}" method="post">
        <h2>Добавить покупателя</h2>
        {% csrf_token %}
        {{ customer_form.as_p }}
        <button type="submit">Добавить</button>
    </form>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Покупатели</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Наименование</th>
              <th scope="col">Тип</th>
              <th scope="col">Почта</th>
              <th scope="col">Телефон</th>
              <th scope="col">Адрес</th>
              <th scope="col">БИН/ИИН</th>
            </tr>
          </thead>
          <tbody>
          {% for customer in customers %}
          <tr>
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.type }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.bin }}</td>
            </tr>

        {% endfor %}

          </tbody>
        </table>
      </div>

{% endblock %}