{% extends 'accounter/base.html' %}



    {% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="chart" width="900" height="380"></canvas>

      <h2>Сводка</h2>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Всего Приходы</h5>
        <p class="card-text">{{ total_revenue }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Всего Реализации</h5>
        <p class="card-text">{{ total_sales }}</p>
      </div>
    </div>
  </div>
      <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Приходы, Апрель</h5>
        <p class="card-text">Placeholder</p>
      </div>
    </div>
  </div>
          <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Реализации, Апрель</h5>
        <p class="card-text">Placeholder</p>
      </div>
    </div>
  </div>
    <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Прибыль, Апрель</h5>
        <p class="card-text">Placeholder</p>
      </div>
    </div>
  </div>
</div>


        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Наименование</th>
              <th scope="col">Время</th>
                <th scope="col">Контрагент</th>
              <th scope="col">Тип</th>
              <th scope="col">Сумма</th>
              <th scope="col">Источник</th>


            </tr>
          </thead>
          <tbody>
          {% for operation in operations %}
          <tr>
              <td>{{ operation.id }}</td>
              <td>{{ operation.name }}</td>
              <td>{{ operation.time }}</td>
              <td>{{ operation.customer.name }}{{ operation.supplier.name }}</td>
              {% if operation.is_sale %}
                <td style="background-color: #31e8c6">Реализация</td>
                <td style="background-color: #31e8c6">{{ operation.amount }}</td>
              {% else %}
                <td style="background-color: #ba0016">Приход</td>
                <td style="background-color: #ba0016">{{ operation.amount }}</td>
              {% endif %}
              <td>
                  {% if operation.is_bank %}
                    Банк
                  {% else %}
                    Касса
                  {% endif %}
              </td>


            </tr>

        {% endfor %}

          </tbody>
        </table>
      </div>
    {% endblock %}